.paper_bg {
  mix-blend-mode: multiply;
  pointer-events: none;
  will-change: transform;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 998;
  background-position: 50% 50%;
  background-size: auto;
  opacity: 0.3;
  background-image: url("../public/assets/images/background.jpg");
}

.page__container {
  display: grid;
  place-content: center;
  min-height: 100vh;
}

.home__intro {
  text-align: center;
  max-width: 740px;
  /* box-shadow: 0px 0px 4px 0px #999;
  padding: 89px 45px 110px;
  border-radius: 8px; */
}

.intro__title {
  line-height: 1;
  margin: 0;
  display: block;
  font-size: clamp(30px, 5.5vw, 105px);
}

.intro__desc {
  font-size: 1.7rem;
  line-height: 28px;
  color: #484747;
}

.intro__name {
  font-size: 20px;
  position: absolute;
  left: 56%;
  top: 0px;
  transform: translateX(-50%);
  font-size: 34px;
  letter-spacing: -2px;
}

.home__name {
  position: relative;
  margin-bottom: 10px;
}
